<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 vertical-padding">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully transferred money !
                </div>
            </div>
            <div th:if="${param.notEnoughBalance}">
                <div class="alert alert-info">
                    Not enough money on balance!
                </div>
            </div>

            <form th:action="@{/transfer/betweenAccounts}" th:object="${command}" method="post">
                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>
                <div class="form-group">
                    <label for="accountType">1. Select account from</label>
                    <select class="form-control" id="accountType" th:field="*{accountIdFrom}" name="account" required="true">
                        <option th:each="account : ${accounts}" th:value="${account.type} == 'Saving' ? 'S' + ${account.id} : 'P' + ${account.id}"
                                th:text="${account.type} + ' ' + ${account.currency} + ' ' + ${account.accountBalance}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="accountType">1. Select account to</label>
                    <select class="form-control" id="accountType" th:field="*{accountIdTo}" name="account" required="true">
                        <option th:each="account : ${accounts}" th:value="${account.type} == 'Saving' ? 'S' + ${account.id} : 'P' + ${account.id}"
                                th:text="${account.type} + ' ' + ${account.currency} + ' ' + ${account.accountBalance}"></option>
                    </select>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('amount')}? 'has-error'">
                    <label>2. Enter number</label>
                    <input th:value="${amount}" th:field="*{amount}" type="text" name="amount" class="form-control" id="depositAmount" placeholder="Amount">
                    <span class="help-block" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
                        Incorrect
                    </span>
                </div>

                <a type="button" class="btn btn-secondary" th:href="@{/}">Back</a>
                <button type="submit" class="btn btn-success" >Submit</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </div>
</div>


<footer th:replace="common/header :: common-footer"></footer>

</body>
</html>