<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 vertical-padding">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <!--Panel-->
            <div class="panel panel-info" th:each="primaryAccount : ${primaryAccounts}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Primary balance</h2>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h1>
                                <span th:switch="${primaryAccount.currency.name()}">
                                    <span th:replace="common/body :: switch-currency"></span>
                                </span>
                                <span th:text="${primaryAccount.accountBalance}"></span>
                            </h1>
                        </div>
                    </div>
                </div>
                <a th:href="@{/account/primaryAccount(id=${primaryAccount.id}, page=1, filter='')}">
                    <div class="panel-body">
                        <span class="pull-left">View Details</span>
                        <div class="clear-fix"></div>
                    </div>
                </a>
            </div>
            <!--/.Panel-->

            <!--Panel-->
            <div th:if="${savingAccount != null}">
                <div class="panel panel-success" th:if="${savingAccount}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <h2>Saving balance</h2>
                            </div>
                            <div class="col-xs-6 text-right">
                                <h1>
                                    <span th:switch="${savingAccount.currency.name()}">
                                        <span th:replace="common/body :: switch-currency"></span>
                                    </span>
                                    <span th:text="${savingAccount.accountBalance}"></span>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/account/savingAccount(id=${savingAccount.id}, page=1, filter='')}">
                        <div class="panel-body">
                            <span class="pull-left">View Details</span>
                            <div class="clear-fix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="text-right padding-right-20">
                                <h1>
                                    <i class="fa fa-university"></i>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/account/deposit}">
                        <div class="panel-body">
                            <span class="pull-left">Deposit money</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="text-right padding-right-20">
                                <h1>
                                    <i class="fa fa-credit-card"></i>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/account/withdraw}">
                        <div class="panel-body">
                            <span class="pull-left">Withdraw money</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Exchange rates</h3>
                    </div>
                    <div class="panel-body">
                        Base currency: <span class="label label-default" th:text="${currency.base}"></span>
                        <p>&nbsp;</p>
                        <span th:each="entity : ${currency.rates}">
                            <div th:text="${entity}"></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="common/header :: common-footer"></footer>

</body>
</html>